<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silver Shield Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='landingStyle.css') }}">
</head>
  <body>
    <div class="loginBanner">
      <h1>Silvershield</h1>
      <div class="loginRegisterButtons">
        <button class ="loginButton" value="login"><a href="{{ url_for('login') }}">Log In</a></button>
        <button class="btn" style="margin-top:0px;" value="register"><a href="{{ url_for('account_creation') }}">Register</a></button>
      </div>
    </div>
    <div class="introImageInformation">
        <!--
            <image width="100%" src="https://i.imgur.com/7wIFgUe.jpeg"></image>
    -->
       <img class="imageContainer" src="https://images.pexels.com/photos/3791664/pexels-photo-3791664.jpeg"></img>
        <div class="imageText">
            <h1>Browse with confidence</h1>
            <h1><span class="emphasizedBlue">And Safety</span></h1>
        </div>

        <h1>AI-driven lessons <span class="emphasizedBlue">engineered to help you</span></h1>
        <p>With a guide powered by <span class="emphasizedBlue">A</span>rtificial <span class="emphasizedBlue">I</span>ntelligence, browse simulated spaces and learn how to identify spam and scams in a <span class="emphasizedBlue">safe and practical</span> way.</p>
        <a href="{{ url_for('account_creation') }}">Register now</a>

    </div>
  </body>
</html>