<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ _("Silver Shield Home Page") }}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='landingStyle.css') }}">
</head>

<body>

<div class="loginBanner">
  <h1>Silvershield</h1>

  <div class="loginRegisterButtons">
    <!-- Language dropdown -->
    <div class="languageDropdown">
      <button class="dropbtn">{{ _("Language") }}</button>
      <div class="dropdownContent">
        <a href="{{ url_for('set_language', lang='en') }}">English</a>
        <a href="{{ url_for('set_language', lang='es') }}">Español</a>
      </div>
    </div>

    <!-- Login/Register buttons -->
    <button class="loginButton">
      <a href="{{ url_for('login') }}">{{ _("Log In") }}</a>
    </button>

    <button class="btn">
      <a href="{{ url_for('account_creation') }}">{{ _("Register") }}</a>
    </button>
  </div>
</div>

<div class="introImageInformation">

  <img class="imageContainer"
       src="https://images.pexels.com/photos/3791664/pexels-photo-3791664.jpeg">

  <div class="imageText">
    <h1>{{ _("Browse with confidence") }}</h1>
    <h1><span class="emphasizedBlue">{{ _("And Safety") }}</span></h1>
  </div>

  <h1>
    {{ _("AI-driven lessons") }}
    <span class="emphasizedBlue">{{ _("engineered to help you") }}</span>
  </h1>

  <p>
    {{ _("With a guide powered by") }}
    <span class="emphasizedBlue">A</span>rtificial
    <span class="emphasizedBlue">I</span>ntelligence,
    {{ _("browse simulated spaces and learn how to identify spam and scams in a") }}
    <span class="emphasizedBlue">{{ _("safe and practical") }}</span>
    {{ _("way.") }}
  </p>

  <a href="{{ url_for('account_creation') }}">{{ _("Register now") }}</a>

</div>

</body>
</html>